.THIS {

padding:20px;

}

h3.THIS{

color:peachpuff;

background-color:maroon;

font-size:xx-large;

}

.divCSS.THIS{

color:maroon;

background-color:peachpuff;

}

p.THIS{

color:green;

background-color:palegreen;

font-weight:bold;

}

.THIS p{

color:Orange;

background-color:palegreen;

font-weight:bold;

}

.THIS span{

color:red;

}